Repository credfeto/credfeto-database-source-generator, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-database, credfeto-database-interfaces, credfeto-database-pgsql, credfeto-database-pgsql-tests, credfeto-database-source-generation, credfeto-database-source-generation-example, credfeto-database-source-generation-example-tests-integration, credfeto-database-sqlserver, credfeto-database-sqlserver-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.168
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.1
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.6
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

SDK - Updated DotNet SDK to 8.0.402
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

Changelog for 1.2.20
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating xunit (Test Infrastructure) to 2.9.2
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Polly (Policy based retrying) to 8.4.2
  CHANGELOG.md
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.21
  CHANGELOG.md
Labels: Change Log, Markdown

9.0.100-preview.6.24328.19
  src/global.json
Labels: .NET update

net9.0
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project

Disabled .net 6 and 7
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project

9.0.100-rc.1.24452.12
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Cleanup] - Code cleanup on Credfeto.Database.Source.Generation.sln
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/DatabaseTests.cs
  src/Credfeto.Database.Source.Generation.Example/DatabaseWrapper.cs
  src/Credfeto.Database.Source.Generation.Example/TestDatabase.cs
  src/Credfeto.Database.Source.Generation/DatabaseSourceCodeGenerator.cs
  src/Credfeto.Database.Source.Generation/Helpers/AttributeMappings.cs
  src/Credfeto.Database.Source.Generation/Receivers/DatabaseSyntaxReceiver.cs
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database/BaseDatabase.cs
Labels: C# Project

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/dispatch-deploy/action.yml
  .github/actions/dispatch-deploy/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-database":
 - any: [ 'src/$Credfeto.Database/**/*' ]
"credfeto-database-interfaces":
 - any: [ 'src/$Credfeto.Database.Interfaces/**/*' ]
"credfeto-database-pgsql":
 - any: [ 'src/$Credfeto.Database.Pgsql/**/*' ]
"credfeto-database-pgsql-tests":
 - any: [ 'src/$Credfeto.Database.Pgsql.Tests/**/*' ]
"credfeto-database-source-generation":
 - any: [ 'src/$Credfeto.Database.Source.Generation/**/*' ]
"credfeto-database-source-generation-example":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example/**/*' ]
"credfeto-database-source-generation-example-tests-integration":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example.Tests.Integration/**/*' ]
"credfeto-database-sqlserver":
 - any: [ 'src/$Credfeto.Database.SqlServer/**/*' ]
"credfeto-database-sqlserver-tests":
 - any: [ 'src/$Credfeto.Database.SqlServer.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
