Repository credfeto/credfeto-database-source-generator, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-database, credfeto-database-interfaces, credfeto-database-pgsql, credfeto-database-pgsql-tests, credfeto-database-source-generation, credfeto-database-source-generation-example, credfeto-database-source-generation-example-tests-integration, credfeto-database-sqlserver, credfeto-database-sqlserver-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.13.0
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.54.350
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.98
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.68.928
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.258.1152
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.188
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.259.1162
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.13.1
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.55.367
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Microsoft.CodeAnalysis.CSharp (Code Analysis) to 4.13.0
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Npgsql (PostgreSQL Data provider) to 9.0.3
  CHANGELOG.md
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.260.1166
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.99
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.7.0.110445
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.261.1171
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.67.955
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Changelog for 1.2.100
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.262.1177
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.56.380
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.13.61
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-database":
 - any: [ 'src/$Credfeto.Database/**/*' ]
"credfeto-database-interfaces":
 - any: [ 'src/$Credfeto.Database.Interfaces/**/*' ]
"credfeto-database-pgsql":
 - any: [ 'src/$Credfeto.Database.Pgsql/**/*' ]
"credfeto-database-pgsql-tests":
 - any: [ 'src/$Credfeto.Database.Pgsql.Tests/**/*' ]
"credfeto-database-source-generation":
 - any: [ 'src/$Credfeto.Database.Source.Generation/**/*' ]
"credfeto-database-source-generation-example":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example/**/*' ]
"credfeto-database-source-generation-example-tests-integration":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example.Tests.Integration/**/*' ]
"credfeto-database-sqlserver":
 - any: [ 'src/$Credfeto.Database.SqlServer/**/*' ]
"credfeto-database-sqlserver-tests":
 - any: [ 'src/$Credfeto.Database.SqlServer.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
