Repository credfeto/credfeto-database-source-generator, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-database, credfeto-database-interfaces, credfeto-database-pgsql, credfeto-database-pgsql-tests, credfeto-database-source-generation, credfeto-database-source-generation-example, credfeto-database-source-generation-example-tests-integration, credfeto-database-sqlserver, credfeto-database-sqlserver-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.31.0.96804
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

SDK - Updated DotNet SDK to 8.0.400
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating Microsoft.VisualStudio.Threading.Analyzers (Code analysis) to 17.11.20
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 9.32.0.97167
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.20.512
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.65.613
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Changelog for 1.2.14
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Microsoft.CodeAnalysis.CSharp (Code Analysis) to 4.11.0
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 8.0.401
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.21.517
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.66.617
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating Microsoft.NET.Test.Sdk (Test Infrastructure) to 17.11.0
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.15
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.0.22.521
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.67.620
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/on-pr-closed.yml
  .github/workflows/on-pr-closed.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-sql.yml
  .github/workflows/reformat-sql.yml
Labels: github-actions

[Actions] Updated .github/workflows/reformat-yaml.yml
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-database":
 - any: [ 'src/$Credfeto.Database/**/*' ]
"credfeto-database-interfaces":
 - any: [ 'src/$Credfeto.Database.Interfaces/**/*' ]
"credfeto-database-pgsql":
 - any: [ 'src/$Credfeto.Database.Pgsql/**/*' ]
"credfeto-database-pgsql-tests":
 - any: [ 'src/$Credfeto.Database.Pgsql.Tests/**/*' ]
"credfeto-database-source-generation":
 - any: [ 'src/$Credfeto.Database.Source.Generation/**/*' ]
"credfeto-database-source-generation-example":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example/**/*' ]
"credfeto-database-source-generation-example-tests-integration":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example.Tests.Integration/**/*' ]
"credfeto-database-sqlserver":
 - any: [ 'src/$Credfeto.Database.SqlServer/**/*' ]
"credfeto-database-sqlserver-tests":
 - any: [ 'src/$Credfeto.Database.SqlServer.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
