Repository credfeto/credfeto-database-source-generator, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-database, credfeto-database-interfaces, credfeto-database-pgsql, credfeto-database-pgsql-tests, credfeto-database-source-generation, credfeto-database-source-generation-example, credfeto-database-source-generation-example-tests-integration, credfeto-database-sqlserver, credfeto-database-sqlserver-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-database":
 - any: [ 'src/$Credfeto.Database/**/*' ]
"credfeto-database-interfaces":
 - any: [ 'src/$Credfeto.Database.Interfaces/**/*' ]
"credfeto-database-pgsql":
 - any: [ 'src/$Credfeto.Database.Pgsql/**/*' ]
"credfeto-database-pgsql-tests":
 - any: [ 'src/$Credfeto.Database.Pgsql.Tests/**/*' ]
"credfeto-database-source-generation":
 - any: [ 'src/$Credfeto.Database.Source.Generation/**/*' ]
"credfeto-database-source-generation-example":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example/**/*' ]
"credfeto-database-source-generation-example-tests-integration":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example.Tests.Integration/**/*' ]
"credfeto-database-sqlserver":
 - any: [ 'src/$Credfeto.Database.SqlServer/**/*' ]
"credfeto-database-sqlserver-tests":
 - any: [ 'src/$Credfeto.Database.SqlServer.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

SDK - Updated DotNet SDK to 9.0.101
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

SBOM
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project

Suppressed
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project

Suppressions
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project

SDK - Updated DotNet SDK to 9.0.101
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Cleanup: Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
Labels: C# Project

Cleanup: Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
Labels: C# Project

Cleanup: Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
Labels: C# Project

Cleanup: Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
Labels: C# Project

Cleanup: Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
Labels: C# Project

Cleanup: Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project

Cleanup: Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project

Cleanup: Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
Labels: C# Project

Cleanup: Credfeto.Database.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project

Changelog for 1.2.61
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.43.772
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.31.198
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.12.10
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.18.0
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.runner.visualstudio (Test Infrastructure) to 3.0.0
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.240.1022
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.32.207
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.241.1032
  CHANGELOG.md
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.4.0.108396
  CHANGELOG.md
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.2.62
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions
