Repository credfeto/credfeto-database-source-generator, changes with the labels that .github/labeler.yml gives for each.
All labels: C#, C# Project, C# Solution, Powershell, SQL, Solidity, unit-tests, .NET update, Config Change, Static Code Analysis Rules, Migration Script, Legal Text, Change Log, Read Me, Setup, Markdown, github-actions, Credfeto.Database.Interfaces, Example, Example.Tests.Integration

.github/labeler.yml:

"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"SQL":
 - any: [ 'db/**/*', './**/*.sql' ]
"Solidity":
 - any: [ './**/*.sol' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*' ]
".NET update":
 - any: [ 'src/global.json' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Markdown":
 - any: [ './**/*.md' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Credfeto.Database.Interfaces":
 - any: [ 'src/Credfeto.Database.Interfaces/**/*' ]
"Example":
 - any: [ 'src/Credfeto.Database.Source.Generation.Example/**/*' ]
"Example.Tests.Integration":
 - any: [ 'src/Credfeto.Database.Source.Generation.Example.Tests.Integration/**/*' ]

[FF-1429] - Update .github/dependabot.yml to match the template repo
  .github/dependabot.yml
Labels: none

Fixed error
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/DatabaseTests.cs
Labels: Example.Tests.Integration

renamed
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/DatabaseTests.cs
Labels: Example.Tests.Integration

[FF-1429] Updating FunFair.Test.Common (Test Infrastructure) to 6.0.20.2640
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
Labels: C# Project, Change Log, Markdown, Example.Tests.Integration

[FF-1429] Updating NSubstitute (Test Infrastructure) to 5.0.0
  CHANGELOG.md
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
Labels: C# Project, Change Log, Markdown, Example.Tests.Integration

added todos
  src/Credfeto.Database.Source.Generation.Example/Database.Partial.cs
Labels: Example

Added AssemblySettings
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/AssemblySettings.cs
Labels: Example.Tests.Integration

Added exclusion for generated files
  src/Credfeto.Database.Source.Generation.Example/.gitignore
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
Labels: C# Project, Example

Added empty project for source generator
  src/Credfeto.Database.Source.Generation.sln
  src/Credfeto.Database.Source.Generation/Class1.cs
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/KeepGeneratedFiles.props
  src/SourceGenerator.props
Labels: C# Project, C# Solution
