Repository credfeto/credfeto-database-source-generator, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-database, credfeto-database-interfaces, credfeto-database-pgsql, credfeto-database-pgsql-tests, credfeto-database-source-generation, credfeto-database-source-generation-example, credfeto-database-source-generation-example-tests-integration, credfeto-database-sqlserver, credfeto-database-sqlserver-tests, github-actions, Legal Text, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, unit-tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-database":
 - any: [ 'src/$Credfeto.Database/**/*' ]
"credfeto-database-interfaces":
 - any: [ 'src/$Credfeto.Database.Interfaces/**/*' ]
"credfeto-database-pgsql":
 - any: [ 'src/$Credfeto.Database.Pgsql/**/*' ]
"credfeto-database-pgsql-tests":
 - any: [ 'src/$Credfeto.Database.Pgsql.Tests/**/*' ]
"credfeto-database-source-generation":
 - any: [ 'src/$Credfeto.Database.Source.Generation/**/*' ]
"credfeto-database-source-generation-example":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example/**/*' ]
"credfeto-database-source-generation-example-tests-integration":
 - any: [ 'src/$Credfeto.Database.Source.Generation.Example.Tests.Integration/**/*' ]
"credfeto-database-sqlserver":
 - any: [ 'src/$Credfeto.Database.SqlServer/**/*' ]
"credfeto-database-sqlserver-tests":
 - any: [ 'src/$Credfeto.Database.SqlServer.Tests/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Legal Text":
 - any: [ 'tools/LegalText/**/*' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"unit-tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/actions/nuget/action.yml
  .github/actions/nuget/action.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/docker-build-to-registry/action.yml
  .github/actions/docker-build-to-registry/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/actions/build-version/action.yml
  .github/actions/build-version/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

CSharpier
  src/Credfeto.Database.Interfaces/Credfeto.Database.Interfaces.csproj
  src/Credfeto.Database.Pgsql.Tests/Credfeto.Database.Pgsql.Tests.csproj
  src/Credfeto.Database.Pgsql/Credfeto.Database.Pgsql.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example/Credfeto.Database.Source.Generation.Example.csproj
  src/Credfeto.Database.Source.Generation/Credfeto.Database.Source.Generation.csproj
  src/Credfeto.Database.SqlServer.Tests/Credfeto.Database.SqlServer.Tests.csproj
  src/Credfeto.Database.SqlServer/Credfeto.Database.SqlServer.csproj
  src/Credfeto.Database/Credfeto.Database.csproj
Labels: C# Project

SDK - Updated DotNet SDK to 9.0.203
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Removed integration tests
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/AssemblySettings.cs
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/Credfeto.Database.Source.Generation.Example.Tests.Integration.csproj
  src/Credfeto.Database.Source.Generation.Example.Tests.Integration/DatabaseTests.cs
  src/Credfeto.Database.Source.Generation.sln
Labels: C# Project, C# Solution
